@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --wine: #7f4ca5;
  --red: #b57edc;
}


body {  
  font-family: 'roboto', sans-serif;  
  background-color: var(--wine);  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;  
  min-height: 100vh;
  margin: 10px;
}

button, input[type="button"], input[type="submit"] {
  padding: 10px;
  border-radius: 10px;
  background: var(--red);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #ccc;
}